.page-post,
.page-post-term {
  form {
    .post-image {
      width: 150px
    }
  }

  .category-badge:hover {
    background: theme-gradient-color("primary");
  }
}

.post-add-term-popup{
  .submit {
    button {
      padding: 13px 50px;
    }
  }
}

@media (max-width: 767px) {
  .page-post,
  .page-post-term {
    .list-mode-btn {
      width: 100%;
      padding: 15px
    }
  }
}