.page-user {
  .table-user {
    overflow: hidden;
    position: relative;
    .table-responsive {
      min-height: 550px;
      .image {
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        img {
          width: 60px;
          height: 60px;
          border-radius: 75px;
        }
        .availability-status {
          position: absolute;
          width: 15px;
          height: 15px;
          border-radius: 100%;
          border: 2px solid #ffffff;
          bottom: 5px;
          right: -5px;
          &.online {
            background: theme-color(success);
          }
          &.offline {
            background: theme-color(danger);
          }
          &.busy {
            background: theme-color(warning);
          }
        }
      }
    }
  }
  .btn-save {
    padding: 15px 40px 15px 40px;
  }
}