:root{
  --theme-sidebar-bg-dark: #18151e;
  --theme-sidebar-menu-hover-bg-dark: #25222c;
  --theme-bg-dark: #18151e;
  --theme-content-wrapper-bg-dark: #31333d;
  --theme-h3-text-color-dark: #fff;
  --theme-menu-title-color-dark: #b0bec5;
  --theme-menu-title-active-color-dark: #fff;
  --theme-navbar-bg-dark: #18151e;
  --theme-worldmap-stroke-bg-dark: #7f7f7f;
  --theme-p-text-color-dark: 202, 201, 201;
  --theme-profile-text-color-dark: 255, 255, 255;
  --theme-footer-bg-dark: #18151e;
  --theme-card-statistic-title-color-dark: #b0bec5;
  --theme-table-bg-dark: #31333d;
  --theme-table-gradient-color-dark: linear-gradient(to right, #18151e, #31333d);
  --theme-table-row-border-color-dark: #7675751f;
  --theme-table-hover-bg-dark: #270137;
  --theme-table-text-color-dark: #b0bec5;
  --theme-table-pagination-btn-color-dark: rgb(198 198 198 / 82%);
  --theme-table-pagination-btn-disable-color-dark: rgb(161 161 161 / 37%);
  --theme-input-label-color-dark: #b9b9b9bf;
  --theme-input-color-dark: #b9b9b9;
  --theme-gradient-primary-color-dark: linear-gradient(to right, #6e3a87, #432175);
  --theme-gradient-secondary-color-dark: linear-gradient(to right, #78797a, #555556);
  --theme-gradient-success-color-dark: linear-gradient(to right, #347a75, #0f7565);
  --theme-gradient-info-color-dark: linear-gradient(to right, #3d6d94, #175b92 99%);
  --theme-gradient-warning-color-dark: linear-gradient(to right, #85762b, #87730f);
  --theme-gradient-danger-color-dark: linear-gradient(to right, #854d29, #851e39);
  --theme-gradient-light-color-dark: linear-gradient(to bottom, #f4f4f4, #e4e4e9);
  --theme-gradient-dark-color-dark: linear-gradient(89deg, #5e7188, #3e4b5b);
  --theme-input-field-border-color-dark: #000;
  --theme-link-color-dark: #000;
  --theme-card-profile-title-color-dark:#b0bec5;
  --theme-footer-text-color-dark: #b0bec5;
  --theme-gallery-bg-dark: #18151e;
  --theme-card-text-color-dark: #b0bec5;
  --theme-content-language-bg-dark: #31333d;
  --theme-content-language-label-color-dark: #b0bec5;
  --theme-nav-tabs-link-active-bg-dark: #31333d;
  --theme-profile-card-bg-dark: #18151e;
  --theme-profile-card-text-color-dark: #fff;
};