@import "light/index";
@import "dark/index";

:root {
  --theme-bg-color: var(--theme-bg-light);
  --theme-content-wrapper-bg: var(--theme-content-wrapper-bg-light);
  --theme-h3-text-color: var(--theme-h3-text-color-light);
  --theme-menu-title-color: var(--theme-menu-title-color-light);
  --theme-menu-title-active-color: var(--theme-menu-title-active-color-light);
  --theme-navbar-bg: var(--theme-navbar-bg-light);
  --theme-sidebar-bg: var(--theme-sidebar-bg-light);
  --theme-sidebar-menu-hover-bg: var(--theme-sidebar-menu-hover-bg-light);
  --theme-worldmap-stroke-bg: var(--theme-worldmap-stroke-bg-light);
  --theme-p-text-color: var(--theme-p-text-color-light);
  --theme-profile-text-color: var(--theme-profile-text-color-light);
  --theme-footer-bg: var(--theme-footer-bg-light);
  --bs-black-rgb: var(--theme-profile-text-color);
  --bs-dark-rgb: var(--theme-p-text-color);
  --theme-card-statistic-title-color: var(--theme-card-statistic-title-color-light);
  --theme-table-bg: var(--theme-table-bg-light);
  --theme-table-gradient-color: var(--theme-table-gradient-color-light);
  --theme-table-row-border-color: var(--theme-table-row-border-color-light);
  --theme-table-hover-bg: var(--theme-table-hover-bg-light);
  --theme-table-text-color: var(--theme-table-text-color-light);
  --theme-table-pagination-btn-color: var(--theme-table-pagination-btn-color);
  --theme-table-pagination-btn-disable-color:  var(--theme-table-pagination-btn-disable-color);
  --theme-input-label-color: var(--theme-input-label-color-light);
  --theme-input-color: var(--theme-input-color-light);
  --theme-gradient-primary-color: var(--theme-gradient-primary-color-light);
  --theme-gradient-secondary-color: var(--theme-gradient-secondary-color-light);
  --theme-gradient-success-color: var(--theme-gradient-success-color-light);
  --theme-gradient-info-color: var(--theme-gradient-info-color-light);
  --theme-gradient-warning-color: var(--theme-gradient-warning-color-light);
  --theme-gradient-danger-color: var(--theme-gradient-danger-color-light);
  --theme-gradient-light-color: var(--theme-gradient-light-color-light);
  --theme-gradient-dark-color: var(--theme-gradient-dark-color-light);
  --theme-input-field-border-color: var(--theme-input-field-border-color-light);
  --theme-link-color: var(--theme-link-color-light);
  --bs-link-color: var(--theme-link-color);
  --theme-card-profile-title-color: var(--theme-card-profile-title-color-light);
  --theme-footer-text-color: var(--theme-footer-text-color-light);
  --theme-gallery-bg: var(--theme-galery-bg-light);
  --theme-card-text-color: var(--theme-card-text-color-light);
  --theme-content-language-bg: var(--theme-content-language-bg-light);
  --theme-content-language-label-color: var(--theme-content-language-label-color-light);
  --theme-nav-tabs-link-active-bg: var(--theme-nav-tabs-link-active-bg-light);
  --theme-profile-card-bg: var(--theme-profile-card-bg-light);
  --theme-profile-card-text-color: var(--theme-profile-card-text-color-light);
}